@inherits LayoutComponentBase

<div class="minimal-layout">
    <div class="minimal-brand">
        <a href="/">SnipLink</a>
    </div>
    <div class="minimal-body">
        @Body
    </div>
</div>

<RadzenComponents />
